#include <physical_layouts.dtsi>

/ {
    layout_0: layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "treo650_layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
        keys
            = <&key_physical_attrs 200    100     200     100        0     0     0>
            , <&key_physical_attrs 200    100     400     100        0     0     0>
            , <&key_physical_attrs 200    100     600     100        0     0     0>
            , <&key_physical_attrs 200    100     200     100        0     0     0>
            , <&key_physical_attrs 200    100     400     100        0     0     0>
            , <&key_physical_attrs 200    100     600     100        0     0     0>
            , <&key_physical_attrs 200    100       0     100        0     0     0>
            , <&key_physical_attrs 200    100     200     100        0     0     0>
            , <&key_physical_attrs 200    100     400     100        0     0     0>
            , <&key_physical_attrs 200    100     600     100        0     0     0>
            , <&key_physical_attrs 200    100     800     100        0     0     0>

            /* 第1行：10个标准按键（默认w=1, h=1） */
            , <&key_physical_attrs 100    100       0     200        0     0     0>
            , <&key_physical_attrs 100    100     100     200        0     0     0>
            , <&key_physical_attrs 100    100     200     200        0     0     0>
            , <&key_physical_attrs 100    100     300     200        0     0     0>
            , <&key_physical_attrs 100    100     400     200        0     0     0>
            , <&key_physical_attrs 100    100     500     200        0     0     0>
            , <&key_physical_attrs 100    100     600     200        0     0     0>
            , <&key_physical_attrs 100    100     700     200        0     0     0>
            , <&key_physical_attrs 100    100     800     200        0     0     0>
            , <&key_physical_attrs 100    100     900     200        0     0     0>

            /* 第2行：10个标准按键 */
            , <&key_physical_attrs 100    100       0     300        0     0     0>
            , <&key_physical_attrs 100    100     100     300        0     0     0>
            , <&key_physical_attrs 100    100     200     300        0     0     0>
            , <&key_physical_attrs 100    100     300     300        0     0     0>
            , <&key_physical_attrs 100    100     400     300        0     0     0>
            , <&key_physical_attrs 100    100     500     300        0     0     0>
            , <&key_physical_attrs 100    100     600     300        0     0     0>
            , <&key_physical_attrs 100    100     700     300        0     0     0>
            , <&key_physical_attrs 100    100     800     300        0     0     0>
            , <&key_physical_attrs 100    100     900     300        0     0     0>

            /* 第3行：10个标准按键 */
            , <&key_physical_attrs 100    100       0     400        0     0     0>
            , <&key_physical_attrs 100    100     100     400        0     0     0>
            , <&key_physical_attrs 100    100     200     400        0     0     0>
            , <&key_physical_attrs 100    100     300     400        0     0     0>
            , <&key_physical_attrs 100    100     400     400        0     0     0>
            , <&key_physical_attrs 100    100     500     400        0     0     0>
            , <&key_physical_attrs 100    100     600     400        0     0     0>
            , <&key_physical_attrs 100    100     700     400        0     0     0>
            , <&key_physical_attrs 100    100     800     400        0     0     0>
            , <&key_physical_attrs 100    100     900     400        0     0     0>

            /* 第4行：5个特殊宽度按键 */
            , <&key_physical_attrs 120    100     100     500        0     0     0>
            , <&key_physical_attrs 120    100     220     500        0     0     0>
            , <&key_physical_attrs 320    100     340     500        0     0     0>
            , <&key_physical_attrs 120    100     660     500        0     0     0>
            , <&key_physical_attrs 120    100     780     500        0     0     0>
            ;
    };
};
